.menu-bar {
  float: left;
  width: 160px;
  height: 100%;
  background: #191818;
  a.brand {
    line-height: 50px;
    display: block;
    padding: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 125%;
    letter-spacing: 0.1em;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid #333333;
    &:hover {
      color: #999999;
    }
  }

  ul {
    li {
      &.devide {
        height: 0;
        border-bottom: 1px solid #333333;
      }
      a {
        line-height: 44px;
        display: block;
        padding: 0 15px;
        text-decoration: none;
        color: #999999;
        text-transform: capitalize;
        &:hover {
          background: #333333;
        }
        &.active {
          background: #1f8dd6;
          color: white;
        }
        i {
          width: 18px;
        }
      }
    }
  }
}
