//= require_tree ./backend
//= require_self

$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;
$pager-border-radius: 0;
@import "bootstrap";
@import "font-awesome";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  > .ember-view {
    width: 100%;
    height: 100%;
  }
}

ul {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
